extends ../layout/layout

block content
  - each post in posts
    article.post
      h1.title
        a(href='/#{post.slug}') !{post.title}
      !{post.short}
      a.ellipsis(href='/#{post.slug}') • • •
      .date !{post.created_at}



